<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- use ngSubmit to replace regular submit in form -->
      <!-- form 將自己設為 reference 再帶入 submit function -->
      <!-- ngForm 知會 angular 這是由 js 操控的表單  -->
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data">
          <!-- ngModelGroup 會讓formData 內多包一個該值的物件 ex. userData: {key: value} -->
          <!-- #userData="ngModelGroup" 近似於 下面 #email="ngModel" 用法-->
          <div
            class="form-group"
            ngModelGroup="userData"
            #userData="ngModelGroup"
          >
            <label for="username">Username</label>
            <!-- ngModel 幫助 Angular 辨識這個元件正與 form 有所連結 -->
            <input
              type="text"
              id="username"
              class="form-control"
              name="username"
              required
              ngModel>
          </div>
          <button
            class="btn btn-default"
            type="button"
            (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <!-- emial 是 angular 提供的 Driective, 用來驗證 email 格式 -->
            <input
              type="email"
              id="email"
              class="form-control"
              name="email"
              required
              email
              ngModel
              #email="ngModel">
              <!--  透過 #email="ngModel" 抓到 !email.isvalid & email.touched-->
              <span class="help-block" *ngIf="!email.isvalid && email.touched">Please enter a valid value!</span>
          </div>
        </div>
        <p *ngIf="!userData.isvalid && userData.touched">User Data is invalid!</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <!-- [ngModel]="defaultQuestion" 綁定 defaultQuestion 初始值 -->
          <select
            id="secret"
            class="form-control"
            name="secret"
            [ngModel]="defaultQuestion"
            >
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <!--  三中操作 form 的方式 1. submit 送出－表單 2. one-way binding 給予預設資料 3. two-way bindling 更彈性操作表單 -->
          <textarea
            name="questionAnswer"
            id=""
            class="form-control"
            cols="30"
            rows="3"
            [(ngModel)]="answer"
          ></textarea>
          <p>Your reply: {{ answer }}</p>
          <div
            class="radio"
            *ngFor="let gender of genders"
          >
            <label>
              <!-- [value] => vlaue 做綁定  -->
              <input
                type="radio"
                name="gender"
                ngModel
                [value]="gender"
                required
              >
              {{gender}}
            </label>
          </div>
        </div>
        <!-- disabled binding 到 #f:NgForm 的 valid -->
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!f.valid">
            Submit
        </button>
      </form>
    </div>
  </div><hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>UserName: {{user.username}}</p>
      <p>Mail: {{user.email}}</p>
      <p>Secert Question: Your first {{user.secretQuestion}}</p>
      <p>Answer: {{user.answer}}</p>
      <p>Gender: {{user.gender}}</p>
    </div>
  </div>
</div>
